body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-252px;
  width:516px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:185px;
  width:516px;
  height:448px;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
  display:flex;
}
#u1885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:46px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:202px;
  height:46px;
  display:flex;
}
#u1886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:240px;
  height:46px;
  display:flex;
}
#u1887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:74px;
  height:30px;
  display:flex;
}
#u1888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:46px;
  width:202px;
  height:30px;
  display:flex;
}
#u1889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:46px;
  width:240px;
  height:30px;
  display:flex;
}
#u1890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:192px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:74px;
  height:192px;
  display:flex;
}
#u1891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:192px;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:76px;
  width:202px;
  height:192px;
  display:flex;
}
#u1892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:192px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:76px;
  width:240px;
  height:192px;
  display:flex;
}
#u1893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:180px;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:74px;
  height:180px;
  display:flex;
}
#u1894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:180px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:268px;
  width:202px;
  height:180px;
  display:flex;
}
#u1895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:180px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:268px;
  width:240px;
  height:180px;
  display:flex;
}
#u1896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:344px;
  width:100px;
  height:60px;
  display:flex;
}
#u1897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:338px;
  width:60px;
  height:80px;
  display:flex;
}
#u1898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1899_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:139px;
  height:25px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:367px;
  width:128px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(1.36392753160292deg);
  -moz-transform:rotate(1.36392753160292deg);
  -ms-transform:rotate(1.36392753160292deg);
  transform:rotate(1.36392753160292deg);
  font-size:8px;
}
#u1899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:519px;
  width:100px;
  height:60px;
  display:flex;
}
#u1900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1901_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:139px;
  height:25px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:542px;
  width:128px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(1.36392753160292deg);
  -moz-transform:rotate(1.36392753160292deg);
  -ms-transform:rotate(1.36392753160292deg);
  transform:rotate(1.36392753160292deg);
  font-size:8px;
}
#u1901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:505px;
  width:60px;
  height:80px;
  display:flex;
}
#u1902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:90px;
  width:182px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
