body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-133px;
  width:568px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:234px;
  width:100px;
  height:82px;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  display:flex;
}
#u2795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:30px;
  display:flex;
}
#u2796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:27px;
  display:flex;
}
#u2797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:332px;
  width:100px;
  height:120px;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u2801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u2802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:336px;
  width:42px;
  height:16px;
  display:flex;
}
#u2803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:140px;
  height:19px;
}
#u2804p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:136px;
  height:6px;
  -webkit-transform:rotate(0.311783659714185deg);
  -moz-transform:rotate(0.311783659714185deg);
  -ms-transform:rotate(0.311783659714185deg);
  transform:rotate(0.311783659714185deg);
}
#u2804p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:6px;
}
#u2804p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(0.311783659714185deg);
  -moz-transform:rotate(0.311783659714185deg);
  -ms-transform:rotate(0.311783659714185deg);
  transform:rotate(0.311783659714185deg);
}
#u2804p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2804p002 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180.311783659714deg);
  -moz-transform:rotate(180.311783659714deg);
  -ms-transform:rotate(180.311783659714deg);
  transform:rotate(180.311783659714deg);
}
#u2804p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:289px;
  width:131px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.311783659714185deg);
  -moz-transform:rotate(-0.311783659714185deg);
  -ms-transform:rotate(-0.311783659714185deg);
  transform:rotate(-0.311783659714185deg);
}
#u2804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:234px;
  width:100px;
  height:82px;
}
#u2806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  display:flex;
}
#u2806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:30px;
  display:flex;
}
#u2807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:27px;
  display:flex;
}
#u2808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:336px;
  width:100px;
  height:82px;
}
#u2810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  display:flex;
}
#u2810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:30px;
  display:flex;
}
#u2811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:27px;
  display:flex;
}
#u2812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:603px;
  width:70px;
  height:16px;
  display:flex;
}
#u2813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:513px;
  width:100px;
  height:95px;
}
#u2815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u2815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:100px;
  height:34px;
  display:flex;
}
#u2816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:100px;
  height:27px;
  display:flex;
}
#u2817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:631px;
  width:100px;
  height:184px;
}
#u2819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u2820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
}
#u2821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:100px;
  height:30px;
  display:flex;
}
#u2822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:100px;
  height:30px;
  display:flex;
}
#u2823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:100px;
  height:30px;
  display:flex;
}
#u2824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:133px;
  height:19px;
}
#u2825p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:6px;
  -webkit-transform:rotate(0.329527572871666deg);
  -moz-transform:rotate(0.329527572871666deg);
  -ms-transform:rotate(0.329527572871666deg);
  transform:rotate(0.329527572871666deg);
}
#u2825p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:6px;
}
#u2825p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(0.329527572871666deg);
  -moz-transform:rotate(0.329527572871666deg);
  -ms-transform:rotate(0.329527572871666deg);
  transform:rotate(0.329527572871666deg);
}
#u2825p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2825p002 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(180.329527572872deg);
  -moz-transform:rotate(180.329527572872deg);
  -ms-transform:rotate(180.329527572872deg);
  transform:rotate(180.329527572872deg);
}
#u2825p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:560px;
  width:124px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.329527572871666deg);
  -moz-transform:rotate(-0.329527572871666deg);
  -ms-transform:rotate(-0.329527572871666deg);
  transform:rotate(-0.329527572871666deg);
}
#u2825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:272px;
  width:59px;
  height:16px;
  display:flex;
}
#u2826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:397px;
  width:87px;
  height:48px;
  display:flex;
}
#u2827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:271px;
  width:0px;
  height:0px;
}
#u2828_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-5px;
  width:58px;
  height:10px;
}
#u2828_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-5px;
  width:10px;
  height:149px;
}
#u2828_seg2 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:134px;
  width:32px;
  height:10px;
}
#u2828_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:597px;
  width:0px;
  height:0px;
}
#u2829_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:50px;
  height:10px;
}
#u2829_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-332px;
  width:10px;
  height:337px;
}
#u2829_seg2 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-332px;
  width:57px;
  height:10px;
}
#u2829_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-329px;
  width:10px;
  height:7px;
}
#u2829_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-174px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:380px;
  width:0px;
  height:0px;
}
#u2830_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-5px;
  width:43px;
  height:10px;
}
#u2830_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-5px;
  width:10px;
  height:69px;
}
#u2830_seg2 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:54px;
  width:54px;
  height:10px;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:513px;
  width:100px;
  height:82px;
}
#u2832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  display:flex;
}
#u2832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:30px;
  display:flex;
}
#u2833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:27px;
  display:flex;
}
#u2834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:552px;
  width:0px;
  height:0px;
}
#u2835_seg0 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:-5px;
  width:46px;
  height:10px;
}
#u2835_seg1 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:-5px;
  width:10px;
  height:168px;
}
#u2835_seg2 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:153px;
  width:47px;
  height:10px;
}
#u2835_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:72px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:582px;
  width:0px;
  height:0px;
}
#u2836_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:74px;
  height:10px;
}
#u2836_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-5px;
  width:10px;
  height:194px;
}
#u2836_seg2 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:179px;
  width:263px;
  height:10px;
}
#u2836_seg3 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:179px;
  width:10px;
  height:6px;
}
#u2836_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:176px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:741px;
  width:240px;
  height:14px;
  display:flex;
}
#u2837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:174px;
  width:139px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:478px;
  width:139px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:90px;
  width:182px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:538px;
  width:90px;
  height:16px;
  display:flex;
}
#u2841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:382px;
  width:0px;
  height:0px;
}
#u2842_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-5px;
  width:26px;
  height:10px;
}
#u2842_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-109px;
  width:10px;
  height:114px;
}
#u2842_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-109px;
  width:29px;
  height:10px;
}
#u2842_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-109px;
  width:10px;
  height:7px;
}
#u2842_text {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:671px;
  width:0px;
  height:0px;
}
#u2843_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-5px;
  width:25px;
  height:10px;
}
#u2843_seg1 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-109px;
  width:10px;
  height:114px;
}
#u2843_seg2 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-109px;
  width:26px;
  height:10px;
}
#u2843_text {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-61px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:55px;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:253px;
  width:39px;
  height:54px;
  display:flex;
}
#u2844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:55px;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:527px;
  width:39px;
  height:54px;
  display:flex;
}
#u2845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
